service_name: travis-pro
repo_token: 9Gz8lbFOfnCehczzQnPMy49awudPW4Rzz

sudo: false
language: python

cache:
  directories:
    - eggs

install:

after_success:
 - test -v QA && pip install python-coveralls==2.4.0 || true
 - test -v QA && coveralls || true

matrix:
  include:
  - python: 2.7
    env: PLONE_VERSION=plone-4.3
  - python: 2.7
    env: PLONE_VERSION=plone-5.0
  - python: 2.7
    env: PLONE_VERSION=plone-5.1
script:
- bash build_test.sh $PLONE_VERSION


notifications:
  irc:
    channels:
    - irc.freenode.org#zopyx
    template:
    - '%{repository}/#%{build_number}/%{branch} (%{author}): %{message} %{build_url}'

