.show-details {
    font-size: 0.8em;
    color: grey;
}

.show-details:hover {
    text-decoration: underline;
}

.datatable {
    overflow: auto !important;
}

.icon-persistent_log:before {
    content: '\e80b';
}

.field-username,
.field-level {
    text-align: center;
}

.field-comment {
    text-align: left;
}
