.show-details {
    font-size: 0.8em;
    color: grey;
}

.show-details:hover {
    text-decoration: underline;
}

.datatable {
    overflow: auto !important;
}

.icon-persistent_log:before {
    content: '\e80b';
}

.field-date {
    width: 100px;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    margin-right: 1em;
}

.field-level {
    max-width: 20px;
    text-align: center;
    vertical-align: top;
    margin-right: 1em;
}

.field-user {
    max-width: 30px;
    text-align: center;
    vertical-align: top;
    margin-right: 1em;
}

.field-info_url {
    max-width: 20px;
    text-align: center;
    vertical-align: top;
    margin-right: 1em;
}

.field-comment {
    min-width: 300px;
    vertical-align: top;
    text-align: left;
}
